*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: hsla(0, 1%, 30%, 0.2);
}
.dashboard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #eee;
    background-image: url('/public/images/tail.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-card{
    color: #eee;
    width: 20%;
    padding: 10px;
    margin: 1%;
    background-color: #334453;
    transition: all .3s ease-in-out;
}
.dash-card:hover {
    box-shadow: 4px 4px #eee;
    transform: scale(1.1);
}
.big-dash {
    margin: 1%;
    width: 20%;
    height: max-content;
    background-color: aliceblue;
    border-radius: 7px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.big-dash:hover {
    box-shadow: 4px 4px  #888888;
    margin: 1%;
    transform: scale(1.1);
}
.check {
    background-color: #afa0a0;
    height: max-content;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.company-container{
    width: 60%;
    height: fit-content;
    margin: 5% auto;
    background-color: darkseagreen;
    border-radius: 6px;
}
.text-center {
    padding-top: 10px;
    color: #353535;
}
.contact-page{
    margin: auto;
    position: relative;

    animation-name: contact;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes contact {
    0% {
        left: -1000px;
    }
    25% {
        top: -300px;
    }
    50% {
        top: -400px;
    }
    75% {
        top: -500px;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
::placeholder{
    font-size: 20px;
    color: red;
}
.form-container{
    margin: 5% 25%;
    position: relative;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 550px;
    width: 50%;
    border-radius: 8px;

    animation-name: form;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes form {
    0%   {
        top: -300px;
    }
    100% {
        top: 0px;
    }
}
.register{
    margin: auto;
    margin-top: 9px;
}
.online-booking{
    margin: 5% 7%;
    position: relative;
    background-color: #ffa500;
    width: 85%;
    height: max-content;
    border-radius: 20px;
}
.form-control{
    margin: auto;
    width: 90%;
}
.form-label{
    margin-left: 2%;
}
#button{
    float: right;
    margin-right: 2%;
    margin-bottom: 1%;
}
.form-contain{
    background: grey;
    text-align: center;
    padding: 13px;
    height:70px;
    border-radius: 8px;
}
/* style the form to be in the main div */
.f-groups{
    margin-top: 2%;
    margin-left: 8%;
    padding: 6px;
}
.inputs{
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
    border-radius: 7px;
}
input[type=text]:focus{
    border: none;
    outline: none;
    border: 2px solid #3434;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.btn{
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    margin: auto;
    border-radius: 8px;
    font-size: 20px;
    color: #eee;
    font: bold;
    height: 50px;
    width: fit-content;
    outline: 0;
    cursor: pointer;
    text-align: center;

    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}
.container-fluid{
    margin-left: 5%;
}

.btn:hover{
    background: green;
    transform: rotateY(360deg);
}
@keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.items{
    margin: 7%;
    display: flex;
    flex-wrap: wrap;
}
.items-3{
    background-color: #99a52ed3;
    flex-basis: 27%;
    border: 1px solid #4158D0;
    border-radius: 10px;
    margin: 1% auto;
    float:inline-start;
    padding: 6px 1px 4px;
}
.item{
    border-color: 1px solid #4158D0;
}
.item-body{
    margin: 5%;
}
.card-title{
    color: rgba(219, 125, 125, 0.842);
}
.bi{
    /* margin-left: 5%; */
    color: #fff;
    font-size: 30px;
}
i:hover{
    color: #ffa500;
}
ul{
    overflow:hidden;
}
#hidden{
    overflow: hidden;
}
.table{
    margin: 1% auto;
    width: fit-content;
    overflow: auto;
    background-color: aliceblue;
}

.inline{
    display: flex;
    margin-left: 4px;
}
#success{
    width: fit-content;
}
#reject{
    width: fit-content;
}
#success:hover{
    background: #ffa500;
}
#reject:hover{
    background: green;
}
.notifications{
    margin: 5% 2%;
    padding: 15px;
    position: relative;
    width: 70%;
    overflow: hidden;
    background-color: #ffa500;
    height: fit-content;
    float: right;
    box-sizing: border-box;
    border-radius: 8px;
}
.inner{
    opacity: 0.6;
    background: #FFCC70;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    border-radius: 9px;
}
.notif{
    margin: 10px;
    padding: 4px;
    color: #ff0000;
    font-size: 2.2rem;
}
hr{
    margin: 10px;
    color: #fff;
}
hr:last-child{
    display: none;
}
.sidebar{
    margin-top: 5%;
    position: absolute;
    display: block;
    background-color: #ffa500;
    width: max-content;
    height: 80%;
}
a{
    text-decoration: none;
    font-size: 2rem;
}
a:hover{
    color: red;
    cursor: pointer;
}
.two{
    list-style: none;
    padding: 6%;
}
.navbar{
    height: 16vh;
}
.nav-link{
    text-transform: capitalize;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover{
    color: #ffa500;
    cursor: pointer;
}
.dropoffs{
    display: flex;
}
#success{
    margin: 5px;
    width: fit-content;
}
#deny{
    width: fit-content;
}

.footer {
    background: #cccc;
    position: relative;

    animation-name: footer;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes footer {
    0% {
        left: -1500px;
    }
    100% {
        left: 0;
    }
}
.middle {
    text-align: center;
    color: #353535;
}

.inside {
    background-color: darkgray;
    width: 75%;
    padding: 10px;
    height: fit-content;
    margin: auto;
    border-radius: 10px;

    position: relative;
    animation-name: inside;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
#contacts {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
#call {
    color: #003330;
}
#mobile{
    color: #003450;
    font-weight: 800;
    font-size: 27px;
}
#mobile:hover{
    color:#800080;
}
#email{
    padding-left: 20px;
    color: #ff0000;
}
#purple:hover {
    color: #800080;
}
@keyframes inside {
    0% {
        left: -3000px;
    }
    100% {
        left: 0;
        bottom: 10px;
    }
}
.contact-form {
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1.5%;
    background-color: #ccc;
    border-radius: 8px;
}
.form-title {
    color: #334453;
    text-align: center;
}
#branch {
    text-align: center;
}
#located {
    display: inline-block;
    padding: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.opening-hrs label {
    display: block;
}

.closing-hrs label {
    display: block;
}
